:root{
    --black-primary: rgb(0, 12, 12);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Tajawal', sans-serif;
}

body{
    background: var(--black-primary);
}

/*Estilos de header*/
.main-header{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: bisque;
    
}

.container-logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container-logo h1{
    font-size: 1.5rem;
    padding-left: 10px;
}

.icono-ecam{
    width: 60px;
    height: 60px;
    margin: 3px 0;
    border-radius: 50px;
}

.menu-header{
    position: absolute;
    width: 100%;
    top: 66px;
    opacity: 0;
    transition: opacity 0.5s;
}
.menu-header ul li{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    list-style-type: none;
    border-bottom: 1px solid #fff;
    font-size: 1rem;
    background-color: rgb(81, 90, 90, 0.9);
}

.menu-header ul li:hover{
    cursor: pointer;
    background: rgba(53, 50, 50, 0.9);
}

.menu-header ul li a{
    color: bisque;
    text-decoration: none;
}

.menu-header > a{
    font-size: 25px;
    color: bisque;
    
}

.main-header label{
    width: 30px;
    height: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: bisque; 
}

.main-header label:hover{
    cursor: pointer;
    background: rgb(81, 90, 90, 0.3);
}

#btn-menu{
    display: none;
}

#btn-menu:checked ~ .menu-header{
    opacity: 1;
}

/*Estilos main*/
.container-main{
    width: 100%;
    margin-top: 2rem;
    
}

/*seccion Nosostros*/
.container-nosotros{
    width: 100%;
    height: auto;
    text-align: center;
    color: bisque;
}

.container-nosotros h2{
    font-size: 3rem;
}

.container-mision{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.container-mision-text{
    width: 100%;
    max-width: 500px;
    height: auto;
    text-align: center;
    color: bisque;
}

.container-mision-text h3{
    margin: 20px 20px 0 20px;
    font-size: 2rem;
}

.container-mision-text p{
    margin: 5px;
    padding: 30px;
    font-size: 1.5rem;
}

.container-mision-img{
    width: 75%;
    height: auto;
}

.mision-img{
    width: 100%;
    height: 250px;
    max-width: 400px;
    border-radius: 5px;
    object-fit: cover;
    margin: auto;
}

.container-vision{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.container-vision-text{
    width: 100%;
    max-width: 500px;
    height: auto;
    text-align: center;
    color: bisque;
}

.container-vision-text h3{
    margin: 20px 20px 0 20px;
    font-size: 2rem;
}

.container-vision-text p{
    margin: 5px;
    padding: 30px;
    font-size: 1.5rem;
}

.container-vision-img{
    width: 75%;
    height: auto;
}

.vision-img{
    width: 100%;
    height: 250px;
    max-width: 400px;
    border-radius: 5px;
    object-fit: cover;
    margin: auto;
}

/*estilos seccion de asociacion*/
.container-asociation{
    width: 100%;
    padding: 3rem;
    position: relative;
    color: bisque;
}

.container-asociation h3{
    font-size: 2rem;
    margin: 15px 0;
}

.container-list-asociations{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-list-asociations{
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.asociation-item{
    width: 250px;
    height: auto;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 15px 15px;
    background-color: darkgray;
}

.asociation-item img{
    width: 100%;
    max-width: 250px;
    height: 250px;
    border-radius: 15px 15px 0 0;
}

.asociation-item p{
    font-size: 1.2rem;
    padding: 15px;
}

/*servicios*/
.container-servicios{
    width: 90%;
    margin: auto;
    text-align: center;
}

.container-servicios h2{
    height: 40px;
    font-size: 2rem;
    margin: 10px;
    padding-top: 10px;
    color: bisque;
}

.container-servicios-galery{
    width: 100%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    

}

.servicios-galery{
    position: relative;
    width: 100%;
    max-width: 400px;
    height: auto; 
}

.container-servicios-galery ul, li{
    list-style: none;
}

.container-servicios-galery a{
    text-decoration: none;
    color: bisque;
}

.galery{
    position: relative;
    width: 100%;
    height: 300px;
}

.slider__info{
    color: bisque;
    position: absolute;
    bottom: 2rem;
    left: 1rem;
    font-size: 1.7rem;
    transition: opacity 5s;
    opacity: 0;
}

.galery li{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity 5s;
}

.galery li img{
    width: 100%;
    height: 30rem;
    object-fit: cover;
    border-radius: 1rem;
}

.galery li > img {
    opacity: 1;
}

.galery li > div {
    opacity: 1;
}

.galery li:target{
    opacity: 1;
}

.servicios-text-galery{
    width: 400px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: bisque
}

.servicios-text-galery ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.servicios-text-galery ul li{
    width: auto;
    height: 30px;
    margin: 0 5px;
    border-bottom: solid 1px #fff;
}


/*Seccion de contacto*/

.seccion-contacto{
    width: 100%;
    height: auto;
    margin-top: 100px;
}

.seccion-contacto h2{
    text-align: center;
    color: bisque;
    margin: 1.5rem;
    font-size: 2rem;
}

.seccion-contact-prin{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  
}

.seccion-contactp__cont-map{
    width: 100%;
    max-width: 500px;
    color: bisque;
    font-size: 1.5rem;
    text-align: center;
    
}

.seccion-contact__info{
    width: 100%;
    font-size: 1.5rem;
    color: bisque;

}

.seccion-contact__info ul{
    width: 100%;
    display: flex;
    justify-content: center;
}

.seccion-contact__info li i{
    margin-right: 5px;
}

.seccion-contact__info li {
    margin: 10px 10px;

}

.seccion-contact__info li a{
    text-decoration: none;
    color: beige;
}

/*Estilos footer*/
.container-footer{
    width: 100%;
    height: 80px;
    background-color: gray;
}


